@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <h3>
        Detta är en webbapplikation som låter användaren hantera information om en skola. Användaren kan lägga till elever, lärare, klasser och kurser. Dessutom kan användaren redigera informationen om befintliga elever, lärare, klasser och kurser eller ta bort dem helt från databasen.
    </h3>
    <br />
    <h3>
        Funktionerna i applikationen möjliggör för användaren att ha fullständig kontroll över skolinformationen. Genom att lägga till elever, lärare, klasser och kurser kan användaren hantera skolans resurser och planera scheman för eleverna och lärarna. Genom att kunna redigera och ta bort elever, lärare, klasser och kurser kan användaren uppdatera informationen när det behövs, t.ex. när en elev byter klass eller en lärare lämnar skolan.
    </h3>
    <br />
    <h3>
        Applikationen gör det också enkelt att organisera skolinformationen och hitta den när det behövs. Genom att använda en databas för att lagra informationen kan användaren enkelt söka efter elever, lärare, klasser och kurser efter namn, betyg, ämne eller andra kriterier.
    </h3>
</div>
